* {
  padding: 0;
  margin: 0;
}
.bg {
  background-color: red;
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;

  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container > img {
  width: 30rem;
  height: 30rem;
}
.content {
  width: 50%;

  padding: 0rem 0rem 0rem 4rem;
}
.content > h2 {
  font-size: 3rem;
}
.content > h1 {
  font-size: 5rem;
}
.content > p {
  width: auto;
}
footer {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #bbdefb;
}

@media screen and (max-width: 600px) {
  .container > img {
    display: none;
  }
  .content {
    width: 100%;
    padding: 0rem 0rem 0rem 4rem;
  }
  .content > h1 {
    font-size: 5rem;
  }
}
