@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins;
  /* background-color: ghostwhite; */
  /* background-image: linear-gradient(#ccfdd8, #95baff); */
  background: linear-gradient(0deg, #1976D2 0%, #ffffff 100%);

}

.signContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* color: red; */
}

.bg {
  background-color: red;
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container>img {
  width: 30rem;
  height: 30rem;
  animation: paraLaxRight 0.6s ease-in;
}

.content {
  width: 50%;
  animation: paraLaxLeft 0.6s ease-in;
  padding: 0rem 0rem 0rem 4rem;
}

.content>h2 {
  font-size: 3rem;
}

.content>h1 {
  font-size: 5rem;
}

.content>p {
  width: auto;
}

footer {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #bbdefb;
}

@media screen and (max-width: 600px) {

  .container>img,
  .left-col,
  .img_right {
    display: none;
  }

  .right-col {
    width: 100%;
  }

  .content {
    width: 100%;
    padding: 0rem 0rem 0rem 4rem;
  }

  .content>h1 {
    font-size: 5rem;
  }
}

@keyframes paraLaxLeft {
  from {
    position: relative;
    left: -2rem;
  }

  to {
    position: relative;
    left: 0rem;
  }
}

@keyframes paraLaxRight {
  from {
    position: relative;
    right: -2rem;
  }

  to {
    position: relative;
    right: 0rem;
  }
}

.box {
  display: flex;
  background-color: #ffffff;
  height: 25em;
  width: 40rem;
  transition: 0.3s;
  border-radius: 15px;
}

.box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.poppins-font {
  font-family: Poppins;
  font-size: 12px;
  color: gray;
}

.forgotPass {
  font-family: Poppins;
  font-size: 12px;
  text-align: right;
  text-decoration: none;
  color: gray;
  padding-right: 9px;
}

.forgotPassHyperLink {
  text-decoration: none;
  color: gray;
}

.nav-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  filter: drop-shadow(0px 5px 10px #1f7fce);
  filter: saturate(500%);
}

.forgotPassHyperLink:hover {
  color: #2196f3;
}

.imgLogo {
  height: 60px;
  width: 60px;
}

.doctor1_img {
  height: 405px;
  width: 720px;
  position: absolute;
  bottom: 5px;
  right: 0px;
  z-index: -1;
}

.changepass-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formcontrol {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-col {
  margin-top: 5rem;
  background-color: aliceblue;
  height: 28rem;
  width: 25rem;
  border-bottom: 20px;
  border-radius: 50px;
  box-shadow: 6px 9px 18px 1px #4f4f4f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-col-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right-col>p {
  font-family: "Poppins";
  color: #2196f3;
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
}

.left-col>img {
  width: 45rem;
}

.left-col {
  width: 60%;
}

.left-right-spacing {
  font-family: Poppins;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tests {
  background-color: #ffffff;
  height: 85vh;
  width: 90%;
  padding: 2%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tests2 {
  background-color: #ffffff;
  font-family: Poppins;
  padding: 2%;
  height: 25rem;
  width: 30rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field1 {
  background-color: #ffffff;
  font-family: Poppins;
  padding: 2%;
  height: 25rem;
  width: 30rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxes {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalStyle {
  background-color: #ffffff;
  font-family: Poppins;

  padding: 2rem 1rem 1rem 1rem;
  gap: 1rem;

  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;
}

.alert {
  position: absolute;
  top: 28rem;
}

.patient-info-container {
  width: 40rem;
}

.patient-ref-container {
  width: 50rem;
}

.patient-ref {
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-patients-contianer {
  display: flex;

  align-items: center;
  justify-content: center;
  border: none;
}

.modal-patients-form {
  background-color: #ffffff;
  display: flex;
  width: 50rem;
  padding: 1rem;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  border-radius: 1rem;
  border: none;
}

.patients-container {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.right {
  width: 43%;
  border-radius: 15px;
}

.img_right {
  width: 100%;
  height: 100%;
}

.left {
  width: 57%;
  padding: 4%;
  align-self: center;
  text-align: center;
}

/* .login_btn {
  padding-top: 10%;
} */

.errorMessage {
  color: red;
  font-size: 12px;
}

.homepage-container {
  width: 100%;
  height: auto;

  padding: 30px;

  h1 {
    font-family: "Poppins";
  }
}

.homepage-menu {
  display: flex;
  gap: 2rem;

}

.hpmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  font-family: "Poppins";

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.homepage-graphs {
  padding-top: 20px;
  display: flex;
  gap: 2rem;
}

.hpgraphs {
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 80rem;
  height: 15rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h3 {
    font-family: "Poppins";
  }

  p {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: bold;
    color: #1976D2;
  }


  .img-wrap {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;


    img {

      /* margin-left: 60px; */
      width: 8rem;
      height: 8rem;
    }
  }
}

.homepage-fields {
  padding-top: 20px;
  display: flex;
  gap: 2rem;
}

.hpfields {
  width: 80rem;
  height: 15rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  overflow: auto;

  h3 {
    font-family: "Poppins";
  }

  p {
    padding-top: 20px;
    font-family: "Poppins";

  }
}

.email-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

}

.with-icon {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;

  /* h1 {
    padding-left: 5px;
  } */
}

.email-wrap {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 48px;
  width: 500px;
  height: auto;
  background-color: white;

  h3 {
    padding-bottom: 5px;
  }
}

.password-wrap {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3rem;
  width: 550px;
  height: auto;
  background-color: white;

  h3 {

    padding-bottom: 5px;
  }
}

.email-header {
  p {
    color: grey;

  }
}

.resetp-border {
  width: 100%;

  height: auto;

  p {
    text-align: center;
  }
}

.p-border {
  text-align: center;

  width: 90%;
  height: auto;


}

.p-row {
  width: 100%;

  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.password-content {
  display: flex;
  flex-direction: column;

  h3 {
    padding-top: 10px;
  }
}

.loading {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}

.invalidTokendisplay {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invalidTokenWrap {
  font-weight: bolder;
  display: flex;
  color: red;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 10rem;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-container {
  height: 100vh;
  width: 100%;
}